.centered-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__content {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
  }
}
