@use "./varibles";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: varibles.$font-family-text;
  font-size: .9rem;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, button, textarea, select {
  font-family: varibles.$font-family-text;
}
