@use "./variables";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  font-family: variables.$font-family-text;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

input,
textarea,
select,
button {
  font: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  border: 1px solid #ccc;
}
