@use "/src/styles/variables";

.button {
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &--outline {
    border: 1px solid variables.$color-primary;

    &:hover {
      background-color: variables.$color-primary;
      color: #fff;
    }
  }

  &--solid {
    background-color: variables.$color-primary;
    color: #fff;

    &:hover {
      border: 1px solid variables.$color-primary;
      background: none;
      color: inherit;
    }
  }
}
